
// Fonts
$fontMain: 'Open Sans',Arial,Sans;
$fontSecond: 'Roboto';
$fontThird: 'Exo 2';

// Colors
$colorText: #333;
$colorBorder: #e7e7e7;
$colorGray: #f0f0f0;
$colorMain: #000;
$colorSecond: #FF0000;
$colorThird: #00FF00;