@media (min-width:1200px) {
    body {
        &>header {
            .navbar-container.centered {
                &.scrolled {
                    .navbar {
                        width:1140px;
                    }
                }
            }
        }
    }
    .lg-text-left {
        text-align:left;
    }
    .lg-text-right {
        text-align:left;
    }
    .lg-text-center {
        text-align:left;
    }
    .lg-pull-left {
        float:left !important;
    }
    .lg-pull-right {
        float:left !important;
    }
}