// Font weight
.weight-lighter {
    font-weight: $font-weight-lighter !important;
}
.weight-light {
    font-weight: $font-weight-light !important;
}
.weight-base {
    font-weight: $font-weight-base !important;
}
.weight-bold {
    font-weight: $font-weight-semibold !important;
}