@import '../_variables';
@import '../_mixins';

@media (min-width:992px) and (max-width:1199px) {
    .md-block {
        display:block !important;float:none !important;clear:both !important;
        @include clr()
    }
    .md-inline-block {
        display:inline-block !important;
    }
    .md-text-left {
        text-align:left;
    }
    .md-text-right {
        text-align:left;
    }
    .md-text-center {
        text-align:left;
    }
    .md-pull-left {
        float:left !important;
    }
    .md-pull-right {
        float:left !important;
    }
}