@import '../_variables';
@import '../_mixins';


@media (max-width:767px) {
    body {
        &>header {
            #toolbar {
                .wrapper {
                    padding:10px 0;
                }
            }
        }
    }
    .xs-block {
        display:block !important;float:none !important;clear:both !important;
        &:after {
            clear:both;content:'';
        }
    }
    .xs-inline-block {
        display:inline-block !important;
    }
    .xs-text-left {
        text-align:left;
    }
    .xs-text-right {
        text-align:left;
    }
    .xs-text-center {
        text-align:left;
    }
    .xs-pull-left {
        float:left !important;
    }
    .xs-pull-right {
        float:left !important;
    }
}