
// Float clear fix
@mixin clr($where: after){
    &::#{$where}{
        clear:both;content:'';display:block;
    }
}

// Convert number of pixels to REM
@mixin toREM($value, $property, $baseInPixels:  14) {
    #{$property}: ($value / $baseInPixels)*1rem;
}

// Style the placeholder
@mixin placeholder($color) {
     /* Chrome/Opera/Safari */
    &::-webkit-input-placeholder {
        color: $color;opacity:1;
    }
    /* Firefox 19+ */
    &::-moz-placeholder { 
        color: $color;opacity:1;
    }
     /* IE 10+ */
    &:-ms-input-placeholder {
        color: $color;opacity:1;
    }
     /* Firefox 18- */
    &:-moz-placeholder {
        color: $color;opacity:1;
    }
}

// Enable animations on element
@mixin anim($time:0.2s) {
    transition:$time linear all;
}
// Put a white overlay on an image.
@mixin overlay-white() {
    filter: brightness(0) invert(1);
}

// Rules for dark theme color
@mixin theme-dark(){
    body[data-bs-theme="dark"] {
        @content;
    }
}

// Rules for light theme color
@mixin theme-light(){
    body[data-bs-theme="light"] {
        @content;
    }
}